{% extends "base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block content %}
{% include "security/_messages.html" %}
<div class="row">
<h1>Login Form</h1>
<form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
<div class="form-group col-md-4">
  {{ login_user_form.hidden_tag() }}
  {{ render_field_with_errors(login_user_form.email, class="form-control") }}
  {{ render_field_with_errors(login_user_form.password, class="form-control") }}
  {{ render_field_with_errors(login_user_form.remember) }}
  {{ render_field(login_user_form.next) }}
  {{ render_field(login_user_form.submit, class="btn") }}
  </div>
</form>
</div>
{% endblock %}
