{% extends "base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block content %}
{% include "security/_messages.html" %}
<div class="row">
<h1>Register Form</h1>
<form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
<div class="form-group col-md-4">
  {{ register_user_form.hidden_tag() }}
  {{ render_field_with_errors(register_user_form.email, class="form-control") }}
  {{ render_field_with_errors(register_user_form.username, class="form-control") }}
  {{ render_field_with_errors(register_user_form.password, class="form-control") }}
  {{ render_field_with_errors(register_user_form.password_confirm, class="form-control") }}
  {{ render_field(register_user_form.next) }}
  {{ render_field(register_user_form.submit, class="btn") }}
  </div>
</form>
</div>
{% endblock %}
