{% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
        <div class="alert-message block-message error">
            <ul>
                {%- for msg in errors %}
                    <div class="alert alert-danger alert-dismissible"
                         role="alert">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-label="Close"><span
                                aria-hidden="true">&times;</span>
                        </button>
                        {{ msg }}
                    </div>
                {% endfor -%}
            </ul>
        </div>
    {% endif %}
{% endwith %}
{% with success_messages = get_flashed_messages(category_filter=["success"]) %}
    {% if success_messages %}
        <div class="alert-message block-message success">
            <ul>
                {%- for msg in success_messages %}
                    <div class="alert alert-success alert-dismissible"
                         role="alert">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-label="Close"><span
                                aria-hidden="true">&times;</span>
                        </button>
                        {{ msg }}
                    </div>
                {% endfor -%}
            </ul>
        </div>
    {% endif %}
{% endwith %}
{% with info_messages = get_flashed_messages(category_filter=["info"]) %}
    {% if info_messages %}
        <div class="alert-message block-message info">
            <ul>
                {%- for msg in info_messages %}
                    <div class="alert alert-info alert-dismissible"
                         role="alert">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-label="Close"><span
                                aria-hidden="true">&times;</span>
                        </button>
                        {{ msg }}
                    </div>
                {% endfor -%}
            </ul>
        </div>
    {% endif %}
{% endwith %}
